<%# coding: UTF-8 %>
<!DOCTYPE html>
<!--header -->
<style>
h1{
padding: 10px;
border: 1px solid #ff00ff;
}
h2{
padding: 10px;
border: 1px solid green;
}
h3{
padding: 10px;
border: 1px solid darkred;
}
h1, h2, h3, h4{
font-size: 15px;
}
</style>
<div style='display: table-cell;vertical-align: top;width:600px;padding:30px'>
    <div style='overflow-y: scroll;display: table-cell;vertical-align: top;width:550px;height: 480px;
    padding:10px;border-radius: 20px;border: solid 1px blue;' id='programing'>
    <%= @content %>
    </div>
</div>
