<div style='width:900px;height:55px;border: solid 1px black;padding:10px;display:table'>
</div>
<div style='width:600px;height:5px;'></div>

<div style='border: solid 1px black;padding:10px;display:table'>
<!--選択 -->

    <div style='padding:10px;display:table-cell;vertical-align:top;width:700px'>
        <!--選択 -->
        <div style='border:solid 1px red;padding:2px;width:600px;height:75px;'></div>
        <div style='width:600px;height:5px;'></div>
        <div style='border:solid 1px red;padding:2px;width:600px;height:75px;'></div>
        <div style='width:600px;height:5px;'></div>
        <div style='border:solid 1px red;padding:2px;width:600px;height:75px;'></div>
        <div style='width:600px;height:5px;'></div>
        <div style='border:solid 1px red;padding:2px;width:600px;height:75px;'></div>
        <div style='width:600px;height:5px;'></div>
        <div style='border:solid 1px red;padding:2px;width:600px;height:75px;'></div>
        <div style='width:600px;height:5px;'></div>
        <div style='border:solid 1px red;padding:2px;width:600px;height:75px;'></div>
        <div style='width:600px;height:5px;'></div>
        <div>＜＜前の10件　次の10件＞＞</div>
    </div>
    <div style='position: absolute;width:750px;height: 580px;top :85px;left:270px;padding:10px;border-radius: 20px;border: solid 1px blue;visibility:hidden' id='details'>
    </div>

</div>
<input type='hidden' value='<%= params[:rgs] %>' id='rgs'>