<%# coding: UTF-8 %>
<!DOCTYPE html>
<!--・プログラミング -->
<!--header -->
<div style='position: absolute;width:1000px;height:45px;border: solid 1px blue;top :0px;left:5px;background-color:#AC16CE;display: table;'>
    <div style='display: table-cell;vertical-align: middle; padding:5px;'>
    <div style=' padding-left:20px'>
    <span style='color:white;font-size:x-large;font-family:Noto Sans Japanese'>
    Flying 29!
    </span>
    </div>
        <div style=' padding-left:60px'><span style='color:white;font-size:small'>コンピュータサイエンスメイン、たまに個人的な趣味を書いています</span></div>
    </div>
</div>
<!--left サイトメニュー-->
<div style='position: absolute;width:225px;height: 590px;border: solid 1px red;top :85px;left:5px;padding:10px'>
    ・最近思ったこと<br>
    <div style='height:5px'></div>

    ・プログラミング<br>
    <div style='padding-left:15px;'>
    <span style='font-size:small'>
    ・<a href='javascript:view("/showprograming/","ruby","programing",0)'>Ruby(Ruby On Rails)</a><br>
    ・<a href='javascript:view("/showprograming/","java","programing",0)'>Java</a><br>
    ・<a href='javascript:view("/showprograming/","javascript","programing",0)'>JavaScript</a><br>
    ・<a href='javascript:view("/showprograming/","C#","programing",0)'>C#</a><br>
    ・<a href='javascript:view("/showprograming/","F#","programing",0)'>F#</a><br>
    ・<a href='javascript:view("/showprograming/","groovy","programing",0)'>Groovy</a><br>
    ・Oracle<br>
    </span>
    </div>
    <div style='height:5px'></div>

    ・情報処理試験<br>
    <div style='padding-left :15px'>
    <span style='font-size:small'>
    ・<a href='javascript:view("/showprograming/","PM","programing",0)'>PM</a><br>
    ・<a href='javascript:view("/showprograming/","SM","programing",0)'>ITサービスマネージャー</a><br>
    ・<a href='javascript:view("/showprograming/","SC","programing",0)'>セキュリティスペシャリスト</a><br>
    ・<a href='javascript:view("/showprograming/","SA","programing",0)'>システムアーキテスト</a><br>
    ・<a href='javascript:view("/showprograming/","DB","programing",0)'>DBスペシャリスト</a><br>
    </span>
    </div>
    <div style='height:5px'></div>

    ・外部リンク<br>
    <div style='padding-left :15px'>
    <span style='font-size:small'>
    ・<a href='http://blog.goo.ne.jp/evergreen_1978' target='blank'>ブログ</a><br>
    ・<a href='http://qiita.com/triple4649' target='blank'>Qiita</a><br>
    ・<a href='https://kramdown.gettalong.org/quickref.html' target='blank'>kramdown</a>
    ・<a href='https://kramdown.gettalong.org/quickref.html' target='blank'>kramdown</a>
    ・<a href='https://www.colordic.org/' target='blank'>WEB色見本 原色大辞典 - HTMLカラーコード</a>
    </span>
    </div>
</div>
<!--right コンテンツ（最近思ったこと)-->
<div style='position: absolute;width:700px;height: 530px;top :85px;left:270px;padding:10px;border-radius: 20px;border: solid 1px blue;'>
＜最近思ったこと＞
<hr>
    <div style='overflow-y: scroll;height:500px' id='diary'>
    <%= @diray_content %>
    </div>
<hr>
前日以前は<a href='/diarydetails/show/' target='_blank'>こちらから</a>
</div>
<div style='position: absolute;width:1000px;height:85px;border: solid 1px blue;top :705px;left:5px;background-color:#AC16CE;display: table;padding:5px'>
    <div style='display: table-cell;vertical-align: top;width:55px'><span style='color:white'>おすすめ</span></div>
    <div style='display: table-cell;vertical-align: middle;width:200px'>
        <table border="0" cellspacing="0" cellpadding="0" class="amazon-aff">
        <tr>
        <td rowspan="4">
        <a href="https://www.amazon.co.jp/%E5%A2%97%E8%A3%9C%E6%94%B9%E8%A8%82%E7%89%88-Java%E8%A8%80%E8%AA%9E%E3%81%A7%E5%AD%A6%E3%81%B6%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E5%85%A5%E9%96%80-%E7%B5%90%E5%9F%8E-%E6%B5%A9-ebook/dp/B00I8ATHGW?SubscriptionId=AKIAIRNYLEHVWKXBWIKA&tag=studyroom09-22&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B00I8ATHGW" style="text-decoration:none;" target="_blank"><img src="https://images-fe.ssl-images-amazon.com/images/I/41mh5r0NwLL._SL75_.jpg" title="クリエーター情報なし" border="0"></a></td><td><a href="https://www.amazon.co.jp/%E5%A2%97%E8%A3%9C%E6%94%B9%E8%A8%82%E7%89%88-Java%E8%A8%80%E8%AA%9E%E3%81%A7%E5%AD%A6%E3%81%B6%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E5%85%A5%E9%96%80-%E7%B5%90%E5%9F%8E-%E6%B5%A9-ebook/dp/B00I8ATHGW?SubscriptionId=AKIAIRNYLEHVWKXBWIKA&tag=studyroom09-22&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B00I8ATHGW" style="text-decoration:none;" target="_blank"></a>
        </td>
        </tr>
        <tr>
        <td><span style='color:white;font-size:small'>増補改訂版<br> Java言語で学ぶデザインパターン入門</span></td>
        </tr>
        <tr>
        <td><span style='color:white;font-size:small'>クリエーター情報なし</span></td>
        </tr>
        <tr>
        <td><span style='color:white;font-size:small'>SBクリエイティブ</span></td>
        </tr>
        </table>
     </div>
    <div style='display: table-cell;vertical-align: middle;width:200px'>
        <table border="0" cellspacing="0" cellpadding="0" class="amazon-aff">
        <tr>
        <td rowspan="4">
        <a href="https://www.amazon.co.jp/%E3%81%82%E3%81%AA%E3%81%9F%E3%81%AF%E3%82%B3%E3%83%B3%E3%83%94%E3%83%A5%E3%83%BC%E3%82%BF%E3%82%92%E7%90%86%E8%A7%A3%E3%81%97%E3%81%A6%E3%81%84%E3%81%BE%E3%81%99%E3%81%8B-10%E5%B9%B4%E5%BE%8C%E3%80%8120%E5%B9%B4%E5%BE%8C%E3%81%BE%E3%81%A7%E5%BF%85%E3%81%9A%E5%BD%B9%E7%AB%8B%E3%81%A4%E6%A0%B9%E3%81%A3%E3%81%93%E3%81%AE%E9%83%A8%E5%88%86%E3%81%8C%E3%81%8D%E3%81%A3%E3%81%A1%E3%82%8A%E3%82%8F%E3%81%8B%E3%82%8B%EF%BC%81-%E3%82%B5%E3%82%A4%E3%82%A8%E3%83%B3%E3%82%B9%EF%BD%A5%E3%82%A2%E3%82%A4%E6%96%B0%E6%9B%B8-%E6%A2%85%E6%B4%A5-%E4%BF%A1%E5%B9%B8/dp/4797339497?SubscriptionId=AKIAIRNYLEHVWKXBWIKA&tag=studyroom09-22&linkCode=xm2&camp=2025&creative=165953&creativeASIN=4797339497" style="text-decoration:none;" target="_blank"><img src="https://images-fe.ssl-images-amazon.com/images/I/51W3fP3Q%2BtL._SL75_.jpg" title="クリエーター情報なし" border="0"></a>
        </td>
        </tr>
        <tr>
        <td><span style='color:white;font-size:small'>あなたはコンピュータを理解していますか? <br>
        10年後、20年後まで必ず役立つ根っこの部分がきっちりわかる！ (サイエンス･アイ新書)</span>
        </td>
        </tr>
        <tr>
        <td><span style='color:white;font-size:small'>クリエーター情報なし</span></td>
        </tr>
        <tr>
        <td><span style='color:white;font-size:small'>ソフトバンク クリエイティブ</span></td>
        </tr>
        </table>
    </div>
    <div style='display: table-cell;vertical-align: middle;width:200px'>
        <table border="0" cellspacing="0" cellpadding="0" class="amazon-aff">
        <tr>
        <td rowspan="4">
        <a href="https://www.amazon.co.jp/%E3%83%80%E3%83%BC%E3%82%AF%E3%82%A8%E3%83%AB%E3%83%95%E7%89%A9%E8%AA%9EIII-%E6%96%B0%E5%A4%A9%E5%9C%B0%E3%80%81%E3%83%95%E3%82%A9%E3%83%BC%E3%82%B4%E3%83%88%E3%83%B3%E3%83%BB%E3%83%AC%E3%83%AB%E3%83%A0-R-%E3%82%B5%E3%83%AB%E3%83%90%E3%83%88%E3%83%BC%E3%83%AC/dp/475771517X?SubscriptionId=AKIAIRNYLEHVWKXBWIKA&tag=studyroom09-22&linkCode=xm2&camp=2025&creative=165953&creativeASIN=475771517X" style="text-decoration:none;" target="_blank"><img src="https://images-fe.ssl-images-amazon.com/images/I/512QFTFGNYL._SL75_.jpg" title="クリエーター情報なし" border="0"></a></td><td><a href="https://www.amazon.co.jp/%E3%83%80%E3%83%BC%E3%82%AF%E3%82%A8%E3%83%AB%E3%83%95%E7%89%A9%E8%AA%9EIII-%E6%96%B0%E5%A4%A9%E5%9C%B0%E3%80%81%E3%83%95%E3%82%A9%E3%83%BC%E3%82%B4%E3%83%88%E3%83%B3%E3%83%BB%E3%83%AC%E3%83%AB%E3%83%A0-R-%E3%82%B5%E3%83%AB%E3%83%90%E3%83%88%E3%83%BC%E3%83%AC/dp/475771517X?SubscriptionId=AKIAIRNYLEHVWKXBWIKA&tag=studyroom09-22&linkCode=xm2&camp=2025&creative=165953&creativeASIN=475771517X" style="text-decoration:none;" target="_blank"></a>
        </td>
        </tr>
        <tr>
        <td><span style='color:white;font-size:small'>ダークエルフ物語III<br> 新天地、フォーゴトン・レルム</span>
        </td>
        </tr>
        <tr>
        <td><span style='color:white;font-size:small'>クリエーター情報なし</span></td>
        </tr>
        <tr>
        <td><span style='color:white;font-size:small'>エンターブレイン</span></td>
        </tr>
        </table>
    </div>
</div>
<div class ='drag-and-drop' style='border: solid 1px black;position: absolute;width:500px;height:320px;top :50px;left:10px;padding:10px;visibility:hidden;background-color:white' id='programing'>
</div>
