<%# coding: UTF-8 %>
<!DOCTYPE html>
<html>
    <!--header -->
    <div style='position: absolute;width:1100px;height:85px;border: solid 1px blue;top :0px;left:0px;background-color:#AC16CE;display: table;'>
        <div style='display: table-cell;vertical-align: middle; padding:15px;'><span style='color:white;font-size:large'>TRIPLEのぺージ</span>
            <div style=' padding:10px'><span style='color:white;font-size:small'>コンピュータサイエンスメイン、たまに個人的な趣味を書いています</span></div>
        </div>
    </div>
    <!--left サイトメニュー-->
    <div style='position: absolute;width:225px;border: solid 1px red;top :120px;left:0px;padding:10px'>
        ・最近思ったこと<br>
        <div style='height:5px'></div>

        ・プログラミング<br>
        <div style='padding-left:15px;'>
        <span style='font-size:small'>
        ・<a href='javascript:view("programing")'>Ruby(Ruby On Rails)</a><br>
        ・Java<br>
        ・JavaScript<br>
        ・Groovy<br>
        ・Oracle<br>
        </span>
        </div>
        <div style='height:5px'></div>

        ・情報処理試験<br>
        <div style='padding-left :15px'>
        <span style='font-size:small'>
        ・PM<br>
        ・ITサービスマネージャー<br>
        ・セキュリティスペシャリスト<br>
        ・システムアーキテスト<br>
        ・DBスペシャリスト<br>
        </span>
        </div>
        <div style='height:5px'></div>

        ・外部リンク<br>
        <div style='padding-left :15px'>
        <span style='font-size:small'>
        ・ブログ<br>
        ・Qiita<br>
        </span>
        </div>
    </div>
    <!--right コンテンツ（最近思ったこと)-->
    <div style='position: absolute;width:750px;height: 200px;top :120px;left:270px;padding:10px'>
    ＜最近思ったこと＞<br>
    <hr>
    ・2017年8月10日<br>
    <p>現場のくそコードをメンテしていると、自分が何をやっているだろうとむなしくなることがあります</p>
    <hr>
    <p>＜＜前日 翌日＞＞
    </div>
    <!--・プログラミング -->
    <div class ='drag-and-drop' style='position: absolute;width:500px;border: solid 1px red;top :50px;left:10px;padding:10px;visibility:hidden;background-color:white' id='programing'>
    ・プログラミング＞Ruby<br>
    <a href='http://qiita.com/triple4649/items/8c1caac649342d3b10a3' target='blank'>Windows環境でRubyの実行環境を構築する</a><br>
    <a href='http://qiita.com/triple4649/items/8829c5c4acbb4a2b2a2a' target='blank'>Windows環境でのRubyの環境構築は時間コストがかかりすぎる</a><br>
    <a href='javascript:closeView("programing")'>閉じる
    </div>

</html>
