<%# coding: UTF-8 %>
<!DOCTYPE html>
<!--header -->
<div style='position: absolute;width:1100px;top :0px;left:5px;display: table;padding:20px'>
    <div style='display: table-cell;width:500px;height:600px;border: solid 1px blue;top :10px;padding:30px;margin:10px'>
        <textarea id="diary" rows="40" cols="70"></textarea><br>
        <input type='button' value='確認' onclick='comfirm_content()'>
    </div>

    <div style='display: table-cell;vertical-align: top;width:800px;padding:30px'>
        <div style='display: table-cell;vertical-align: top;width:750px;height: 480px;
        padding:10px;border-radius: 20px;border: solid 1px blue;' id='programing'>
        </div>
        <input type='button' value='登録' onclick='register()'>
        <input type='hidden' value='<%= params[:rgs] %>' id='rgs'>
    </div>
</div>

